@import "bootstrap.min.css";
/*@import "awesome.min.css";*/

.cartList{
  position: absolute;
  top: 40px;
  left: -221px;
  min-width: 350px;
}

.plus,.minus{
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.green {
  outline: 4px solid darkgreen;
}
.green:focus {
  outline: 4px solid darkgreen;
}

.red {
  outline: 4px solid darkred;
}
.red:focus {
  outline: 4px solid darkred;
}